.main_content
  :maruku
    Greening Godalming challenges residents to save carbon by committing to take at least 5 out of the 9 simple challenges.

    The Greening Godalming challenge cards are being delivered to every house in the town and the challenge is on. If you are committed to taking the challenge then stick the Greening card up in your front window so that when we walk round to see how many people have taken action we can count you in!

    ### The 9 challenges are:

    * Turn off taps when brushing teeth
    * Draught proof around doors and windows and cover letter boxes and keyholes
    * Top up your loft insulation to 270mm thick
    * Walk or cycle when your journey is less than a mile
    * Boil only the amount of water needed
    * Turn off the lights when you leave a room
    * Turn off all standbys
    * Turn down the thermostat by 1°C
    * Shower for one minute less to save water

    If you want to find out more, then please come along on the Town Show on Saturday 4 June where we’ll have a stand and one of the campaign members will be happy to talk to you.

    Greening Godalming is planning and running lots of other events and projects to help Godalming transform to a low carbon town. If you are interested please [contact us](mailto:greening.godalming@gmail.com) - no expertise necessary.

    Other communities who have done this have literally saved tonnes of carbon! And there is no reason why Godalming can’t be the same ...
.secondary_content
  :maruku
    ## Contact Greening
    Greening Godalming holds regular meetings and events. If you would like to know more or get involved please get in touch:

    Tel: 07708 865340

    Email: <greening.godalming@gmail.com>
