.main_content
  :maruku
    ## Free Home Owners and Small Business Renewables Workshops

    Following on from our successful Homeowners Renewable Energy Workshop last year we are running another course on 24 March at the Waverley Council Offices, Godalming from 7.00-9.30pm.

    Independent experts have been invited back to talk about the different options available – from cheap, cost-effective ways like insulation to renewable energy generation. They will also discuss rainwater harvesting, with large tanks and filtration systems.

    Basic advice for homeowners is a two-fold process:

    Properly insulate and draft proof your house. We are simply wasting our money if the heat quickly escapes. Cavity wall and loft insulation are key to this. Another benefit is that the insulation keeps the house cool in the summer as well.

    Second, switch from polluting fossil fuel energy to greener options to keep your home warm. Options range from solar panels on your roof to a heat pump. The best heating solution for individuals varies depending upon their home.

    So if you want to green your home but don’t know your solar thermal from your wind or photovoltaics then this workshop is the one for you!

    * [Read our Energy Saving Top Tips](/energy_saving.doc)
    * [More details on the options available](/renewable_energy.doc)

    Anyone interested or wanting to register should email us at <greening.godalming@gmail.com>.

.secondary_content
  :maruku
    ## Contact Greening
    Greening Godalming holds regular meetings and events. If you would like to know more or get involved please get in touch:

    Tel: 07708 865340

    Email: <greening.godalming@gmail.com>
