.main_content
  :maruku
    ## Free Home Owners and Small Business Renewables Workshop

    October’s Homeowners Renewable Energy Workshop was a great success with our first session full of people who wanted to find out how they could wrap up their home for winter.

    Independent experts were on hand to talk about the different options available – from the cheap, cost-effective ways like insulation to renewable energy generation as well as to answer specific questions. They also discussed rainwater harvesting, with large tanks and filtration systems.

    The basic advice they gave was that it is a two-fold process.

    First make sure that your hose is properly insulated and draft proof. We are simply wasting our money if the heat quickly escapes. Cavity wall and loft insulation are key to this. Another benefit is that the insulation keeps the house cool in the summer as well.

    Second, switch from polluting fossil fuel energy to environmental options to keep your home warm. This may be some solar panels on your roof to a heat pump. The best heating solution for individuals varies depending upon their home.

    So if you want to green your home but don’t know your solar thermal from your wind or photovoltaics then this workshop is the one for you!

    We will be running another one in the spring and anyone interested or wanting to register should email us at <greening.godalming@gmail.com>.

.secondary_content
  :maruku
    ## Contact Greening
    Greening Godalming holds regular meetings and events. If you would like to know more or get involved please get in touch:

    Tel: 07708 865340

    Email: <greening.godalming@gmail.com>
