.main_content
  :maruku
    ## Free Home Owners and Small Business Renewables Workshop
    **Date:** Wednesday 20th October in the evening  
    **Venue:** Waverley Borough Council, Committee Room  
    **Cost: FREE**  
    **Contents:**
    *	The features of various renewable energy systems - PV, Solar thermal, wind, ground/air heat pumps and water harvesting. This will include the essential technical features and conditions needed to achieve the benefits from each technology.
    *	The requirements for connecting domestic/small scale systems to the grid/national supply system.
    *	Typical range of costs of installation and any grants.
    *	Feed-in Tariffs and payback periods.

    **To book a a place:** email <greening.godalming@gmail.com>
    
    Results from our survey of local people at the Summer Town Show found that 74% of those who took part were very concerned about climate change and were taking action to cut their energy use and they planned to do more.

    Greening Godalming has been able to put together a programme of community events to help people reduce their carbon emissions. This programme of events is supported by Godalming Town Council, Waverley Borough Council and Surrey County Council. 

    These events include a workshop for Godalming homeowners interested in cutting their fuel bills by installing renewable energy technology and properly insulating their homes. 

    There is now a range of technologies to select from and installation methods and benefits differ somewhat between the technologies. In the past, cost of purchase and installation has been a barrier. However, there are now feed in tariffs for electricity production so the picture is changing. We understand that moving from being interested to making the decision over installation can be a big decision. 

    So local people who want to explore the subject of installing renewable energy in their homes can find out more at our Home Owners workshop, where the presenter will be Graham Johnson of RenEnergy. This event will be free of charge. 

    This is a free event and places on the workshop are limited so email <greening.godalming@gmail.com> if you are interested in attending. Early booking is recommended.

    However, installing a renewable energy source is only part of the solution. Another critical part is making sure that our homes are energy efficient. So even if you can’t install renewable energy in your home you can still take cheap and quick action that will cut your bills. Sealing doors and windows to reduce drafts, filling any cavity walls and having at least 27cm of loft insulation should be top of the list of things to do before the winter comes.

.secondary_content
  :maruku
    ## Contact Greening
    Greening Godalming holds regular meetings and events. If you would like to know more or get involved please get in touch:

    Tel: 07708 865340

    Email: <greening.godalming@gmail.com>
