.main_content
  :maruku
    ## Welcome to Greening Godalming!
    Join the campaign and help to reduce carbon emissions in Godalming.

    After the successful [Eco Fair](/previous_events#eco_fair) the Greening Godalming challenge cards have delivered to every house in the town and the challenge is on. If you haven’t received yours you can [download one here](/challenge_card.pdf). We will be counting them in April.

    Yes, YOU can make a difference. With the growing threat of climate change in the future, we believe in taking action NOW.

    Inspired and determined to make a difference in our town, this campaign has been set up by local residents to reduce their carbon emissions, and those of the community. The growing membership is from all walks of life and strongly believes that if we are to be successful then the campaign has to be run by the community, for the community.

    At its heart are [9 simple challenges](/challenges) to tackle climate change. They might not seem like much, because they are easy to do in your everyday lives - but that is the idea! Everyone can do these simple challenges that will not only cut carbon pollution but will save you money as well!

    Residents will be encouraged to commit to at least 5 of the challenges (although no one will stop you if you can do more than 5!).

    Greening Godalming aims to bring all parts of our local community together to reduce carbon pollution. If each of us makes small changes in our behaviour, then together it will add up to a huge saving in carbon dioxide. Everyone has a part to play from the council to local organisations, businesses, groups and individuals.

    So, don't delay, [email us](mailto:greening.godalming@gmail.com) to join the campaign now!
.secondary_content
  :maruku
    ## Forthcoming events
    ## [Previous events](/previous_events)
    ### Saturday 27 February
    **Eco-fair** and official launch of Greening Godalming - where people came, had fun and celebrated being green with local schools, groups and organisations.
  %p.more_info
    %a{:href => "previous_events.html#eco_fair"} More info &gt;&gt;
  :maruku
    ### 22 January 2010
    Lecture by Professor Clift on how people can cut their carbon emissions.
    ### December 2009
    Showing of [Age of Stupid](http://www.ageofstupid.net/), Godalming Borough Hall.
    ### 30 October 2009
    [Community meeting](http://www.getsurrey.co.uk/news/s/2060388_greening_godalming_makes_save_planet_pledges) to select eco-challenges.