.main_content
  :maruku
    ## Welcome to Greening Godalming!
    We are campaigning to make a difference in our town. Greening Godalming is run by the community, for the community. We aim to help local people, businesses and the community tackle climate change and reduce carbon pollution. If each of us makes small changes, then together it will add up to a huge cut in our carbon dioxide pollution.

    So, don’t delay, [email us](mailto:greening.godalming@gmail.com) to join the campaign now!

    ### Free Home Owners and Small Business Renewables Workshop
    People are genuinely interested in greening their homes but are often put off by the range of options available. Our workshop not only showed what technology is available but also talked about the costs, grants and feed-in tariffs available. We will be holding another workshop in the spring. [More information](/free-home-owners-and-small-business-renewables-workshop)

    ### Schools
    We are developing a project with Godalming schools to increase the students' understanding of simple measures that can be taken to cut energy consumption and reduce household bills. To find out more contact <greening.godalming@gmail.com>

    ### Businesses
    The latest project to start is aimed at local businesses. To find out more contact <greening.godalming@gmail.com>

.secondary_content
  :maruku
    ## [Previous events](/previous_events)
    ### Wednesday 20 October
    **Renewables workshop** aiming to lift the lid on the range of renewable energy technologies available to people and explain which could be best for your house.
  %p.more_info
    %a{:href => "free-home-owners-and-small-business-renewables-workshop"} More info &gt;&gt;
  :maruku
    ### Saturday 27 February
    **Eco-fair** and official launch of Greening Godalming - where people came, had fun and celebrated being green with local schools, groups and organisations.
  %p.more_info
    %a{:href => "previous_events#eco_fair"} More info &gt;&gt;
  :maruku
    ### 22 January 2010
    Lecture by Professor Clift on how people can cut their carbon emissions.
    ### December 2009
    Showing of [Age of Stupid](http://www.ageofstupid.net/), Godalming Borough Hall.
    ### 30 October 2009
    [Community meeting](http://www.getsurrey.co.uk/news/s/2060388_greening_godalming_makes_save_planet_pledges) to select eco-challenges.