.main_content
  :maruku
    ## Welcome to Greening Godalming!
    We are campaigning to make a difference in our town. Greening Godalming is run by the community, for the community. We aim to help local people, businesses and the community tackle climate change and reduce carbon pollution. If each of us makes small changes, then together it will add up to a huge cut in our carbon dioxide pollution.

    So, don’t delay, [email us](mailto:greening.godalming@gmail.com) to join the campaign now!

    ### Make your home fit for winter

    Top tips on improving the energy efficiency of your home. If you want to find out
    how you could make your home warmer and more environmentally friendly whilst cutting
    your energy bills, [download our leaflet](/home_energy_reduction.pdf).
    
    We will be running our next energy workshop in Farncombe at St John’s Church Hall
    at 7.30pm on 13th October.

    ### Schools
    We are running an energy saving project with Broadwater and Rodborough schools to increase the students' understanding of energy consumption and how to reduce household bills. To find out more contact <greening.godalming@gmail.com>

    ### Businesses
    The latest project to start is aimed at local businesses. To find out more contact <greening.godalming@gmail.com>

.secondary_content
  :maruku
    ## Greening Godalming’s autumn events
    ### 4th September, 11am to 4 pm
    **Winkworth Arboretum, ‘Live Local, Love Winkworth’** - we’ll be joining in the fun
    and sunshine (hopefully), as we’ll have a stand at this new event. Come along and
    say hello.
 
    ### 15th September, 8pm. Venue: lecture theatre, Charterhouse school
    Free film screening of the amusing environmental film ‘No Impact Man’.
    Join us for a light-hearted look at one family’s attempt to go green [www.noimpactdoc.com](http://www.noimpactdoc.com/index_m.php).
    
    ### 13th October, 7.30pm, St John’s Church Hall, Farncombe
    Discover how to save money, energy and the environment ...
    With winter approaching and fuel bills soaring we are holding a free talk about
    making our homes fit for winter. 
    There will be the chance to ask questions and discuss the issues raised.
    
    ## [Previous events](/previous_events)
    **Town Show**, we had a busy stand on a lovely summer’s day and talked to many people about improving their homes.
    ### Thursday 24 March 2011
    **Insulation and renewables presentation** will highlight how to keep your house warm and explain the range of technologies available to homeowners and which could be suitable for your home.
  %p.more_info
    %a{:href => "/previous_events"} More &gt;&gt;