.main_content
  :maruku
    ### Town Show
    We had a busy stand on a lovely summer’s day and talked to many people about improving their homes.
    ### Insulation and renewables presentation - Thursday 24 March 2011
    Highlighted how to keep your house warm and explain the range of technologies available to homeowners and which could be suitable for your home.
  %p.more_info
    %a{:href => "free-home-owners-and-small-business-renewables-workshop"} More info &gt;&gt;
  :maruku
    ### Renewables workshop - Wednesday 20 October 2010
    Aiming to lift the lid on the range of renewable energy technologies available to people and explain which could be best for your house.

    ### Eco Fair - 27 February 2010

    Greening celebrated its launch with its most successful event to date - an Eco Fair. Hundreds of people packed into the Borough hall during the event to find out what Godalming has to offer and to see how they can make themselves greener.

    The event brought together local schools, groups and organisations from across the town to showcase their green work and activities. In all there were 20 stalls from local scouts, guides and schools to the local allotment association, Surrey Hills Wood Fuel group and Waverley Council.

    The Fleur de Lys Morris dancers, a wandering panda bear and bee as well as wooden musical instruments provided the entertainment. And the Surrey Local Food Group served the refreshments.

    "It was a wonderful day and really showed that Godalming has a strong green roots that extend into the heart of the Town," said Carrie Anderson, Greening Godalming’s founder. "During March we are running the [community challenges](/challenges) and judging by the response we have had so far it will be a great success."
    
    ### 22 January 2010
    Lecture by Professor Clift on how people can cut their carbon emissions.
    ### December 2009
    Showing of [Age of Stupid](http://www.ageofstupid.net/), Godalming Borough Hall.
    ### 30 October 2009
    [Community meeting](http://www.getsurrey.co.uk/news/s/2060388_greening_godalming_makes_save_planet_pledges) to select eco-challenges.

.secondary_content
  :maruku
    ## Contact Greening
    Greening Godalming holds regular meetings and events. If you would like to know more or get involved please get in touch:

    Tel: 07708 865340

    Email: <greening.godalming@gmail.com>
